{% extends 'auto_tests/basic.html' %}

{% block title %}Главная{% endblock %}

{% block content %}
    <div>
        <h3 class="mb-3">Стенд автоматического тестирования продукта "Клиент ЭП"</h3>
        <p class="lead">На вкладке "Виды тестов" можно ознакомиться с вариантами групп тестов, включая описание и пример настроек тестов. Для перехода на эту и другие страницы необходимо быть авторизованным.</p>
        <p class="lead">На странице "Тесты" приведены описания каждого теста и имеется возможность запуска всех тестов, группы или конкретного теста при нажатии на соответствующую кнопку. После нажатия вы будете переведены на страницу с информацией о прохождении тестов, которая будет пополняться по ходу выполнения тестирования.</p>
        <p class="lead">На вкладке "Результаты" можно ознакомиться с последними результатами запуска каждого теста, также имеется возможность посмотреть динамику времени работы теста и историю его запусков (если тест был запущен хотя бы раз).</p>
        <p class="lead">Кнопка "Админ-панель" ведет в административную часть сайта, в которой имеется возможность добавить виды тестов и сами тесты или изменить / удалить существующие. Помимо этого можно добавлять новых пользователей и группы. Обратите внимание, что войти в админ-панель могут не все пользователи, а только те, кто имеет статус персонала или является суперпользователем.</p>
    </div>
{% endblock %}